/* Styles génériques */
body, html {
    height: 100%;
    margin: 0;
    font-family: "Inter", sans-serif;
    box-sizing: border-box;
    overflow-x: hidden; /* Empêche le défilement horizontal */
    color: #5B473A;
}

.inter {
    font-family: "Inter", sans-serif;
}

h1 {
    color: #946140;
    font-size: 145px;
    font-weight: 200;
    letter-spacing: 21.75px;
    margin: 0;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    opacity: 0;
    animation: fadeIn 2s forwards 1.5s;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

a {
    text-decoration: none;
    color: #5B473A;
}

/* NAVBAR STYLE */
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 1000;
    padding: 20px 0;
    text-align: center;
}

.navbar ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.navbar li {
    margin: 0;
    padding: 0;
}

.navbar a {
    color: #5B473A;
    margin: 0 25px;
    font-size: 16px;
    padding: 5px 20px;
    display: inline-block;
}

.navbar a:hover {
    color: #d97e59;
}

/* IMGHEAD STYLE */
.imgHead {
    width: 100%;
    height: auto;
    display: block;
}

/* Styles pour footer */
footer {
    padding: 10px;
    text-align: center;
    color: #5B473A;
}

footer p {
    margin: 0;
    font-size: 14px;
}

h2 {
    color: #5B473A;
    font-weight: 100;
    letter-spacing: 5px;
}

input,
select,
textarea {
   background-color: rgba(146, 146, 146, 0.125);
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    font-size: 16px;
}

/* Styles index */
.index-body {
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('/medias/ACC.jpg') center center/cover;
    background-color: black;
    position: relative;
}

.index-h1 {
    position: absolute;
    top: 15vh;
    left: 50%;
    transform: translateX(-50%);
}

.index-button {
    display: inline-block;
    position: absolute;
    top: 50vh;
    left: 50%;
    transform: translateX(-50%);
    color: #5B473A;
    font-size: 45px;
    font-weight: 100;
    margin: 0;
    background: none;
    border: 2px solid #5B473A;
    border-radius: 50px;
    padding: 10px 20px;
    cursor: pointer;
    outline: none;
    text-decoration: none;
    transition: background-color 0.3s ease, color 0.3s ease;
    opacity: 0;
    animation: fadeIn 2s forwards 2.5s;
}

.index-button:hover {
    background-color: rgba(255, 255, 255, 0.1);
    color: #946140;
}

/* Styles accueil */
.accueil-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
    position: relative;
    margin: 0 25px 15px 25px;
    padding-top: 80px; /* Hauteur de la navbar */
}

/* Styles articles */
.articles {
    display: flex;
    justify-content: center;
    margin: 20px 0;
    padding: 0 10px;
}

.articles article {
    flex: 1 1 calc(33.333% - 40px);
    margin: 10px;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    color: white;
}

.article-img-container {
    position: relative;
}

.article-img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.article-title {
    position: absolute;
    top: 10px;
    text-align: center;
    color: rgb(182, 163, 141);
    font-size: 24px;
    margin: 0;
    transition: transform 0.3s ease;
    width: 100%;
}

.article-img-container:hover .article-title {
    transform: scale(1.1);
    color: rgb(210, 189, 166);
}

/* Styles commentaires */
.comments {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0;
    padding: 20px;
    border-radius: 10px;
    color: rgb(182, 163, 141);
}

.comments h2 {
    font-size: 20px;
    margin-bottom: 20px;
}

.form-group {
    width: 100%;
    max-width: 600px;
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group input, .form-group textarea, .form-group select {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: none;
}

button[type="submit"] {
    background-color: #5B473A;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
    background-color: #946140;
}

/* Styles pour les commentaires affichés */
.user-comments {
    width: 100%;
    max-width: 600px;
    margin-top: 20px;
}

.comment {
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 10px;
}

.comment strong {
    font-size: 18px;
}

.comment span {
    color: #FFD700;
}

/* Styles services */
.services-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
    position: relative;
    padding-top: 80px;
}

.services {
    display: flex;
    justify-content: center;
    margin: 50px 0;
    padding: 0 10px;
}

.services article {
    flex: 1 1 calc(50% - 40px);
    margin: 10px;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    color: white;
}

.services-img-container {
    position: relative;
}

.services-img {
    width: 100%;
    height: 400px;
    object-fit: cover;
    border-radius: 10px;
}

.services-title {
    position: absolute;
    top: -60px;
    text-align: center;
    color: rgb(182, 163, 141);
    font-size: 24px;
    margin: 20px 0 10px 0;
    transition: transform 0.3s ease;
    width: 100%;
}

.services-img-container:hover .services-title {
    transform: scale(1.1);
}

.img-restau {
    width: 30%;
    height: auto;
    margin: 10px 0px 0px 0px;
}

/* Styles animaux */
.animal-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
    margin: 25px 0 15px 0px;
}

.animal-card {
    background: #ffffff11;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 10px;
    padding: 10px;
    text-align: center;
    width: 200px;
    cursor: pointer;
    transition: transform 0.3s;
}

.animal-card:hover {
    transform: translateY(-10px);
}

.animal-img {
    border-radius: 10px;
    width: 100%;
    height: auto;
}

.animal-name {
    font-size: 1.2em;
    margin-top: 10px;
}

#animal-modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

#modal-content {
    background-color: #000000f6;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 500px;
    border-radius: 10px;
    text-align: center;
}

.animal-img-modal {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.close-button {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close-button:hover,
.close-button:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* Styles habitats *****************************************************************/
/* Styles habitats *****************************************************************/

.habitat-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #000000;
    padding-top: 80px; /* Hauteur de la navbar */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: background-image 0.5s ease-in-out, background-color 0.5s ease-in-out;
}

.habitats {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 50px 0;
    padding: 0 10px;
    position: relative;
    width: 452.94px;
    height: 452.94px;
}

.habitats-img-container {
    position: absolute;
    width: 226.47px;
    height: 226.47px;
    overflow: hidden;
    cursor: pointer;
    transition: transform 0.3s, background-color 0.3s;
}

.habitats-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: opacity 0.3s;
}

.habitats-img-container:hover .habitats-img {
    opacity: 0.3;
}

.habitats-img-container:nth-child(1) {
    left: 0;
    top: 0;
    transform: rotate(0deg);
    border-top-left-radius: 500px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
}

.habitats-img-container:nth-child(2) {
    left: 226.47px;
    top: 0;
    transform: rotate(90deg);
    border-top-left-radius: 500px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
}

.habitats-img-container:nth-child(3) {
    left: 0;
    top: 226.47px;
    transform: rotate(-90deg);
    border-top-left-radius: 500px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
}

.habitats-img-container:nth-child(4) {
    left: 226.47px;
    top: 226.47px;
    transform: rotate(180deg);
    border-top-left-radius: 500px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
}

.habitats-img-container:nth-child(2) .habitats-img,
.habitats-img-container:nth-child(2) .habitats-title {
    transform: rotate(-90deg);
}

.habitats-img-container:nth-child(3) .habitats-img,
.habitats-img-container:nth-child(3) .habitats-title {
    transform: rotate(90deg);
}

.habitats-img-container:nth-child(4) .habitats-img,
.habitats-img-container:nth-child(4) .habitats-title {
    transform: rotate(-180deg);
}

/* Styles pour le titre principal */
h2 {
    color: #5B473A;
    font-weight: 100;
    letter-spacing: 5px;
    text-align: center;
    margin-top: 50px;
}

/* Page forêt, marais, jungle & savane ******************************************************************/
.animal-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.animal-card {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 16px;
    margin: 8px;
    text-align: center;
    width: 200px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.animal-img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.animal-name {
    font-weight: bold;
    margin-top: 8px;
}

.animal-description {
    margin-top: 8px;
    font-size: 14px;
    color: #666;
}

/* Modal styles */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.9);
}

.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

#modalCaption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
}

/* Styles parc */
.history-section, .projects-section, .ambitions-section, .convictions-section {
    margin: 20px auto;
    max-width: 800px;
    line-height: 1.6;
}

.history-section h2, .projects-section h2, .ambitions-section h2, .convictions-section h2 {
    color: #ffa600a5;
    text-align: center;
    margin-bottom: 15px;
}

.history-section p, .projects-section p, .ambitions-section p, .convictions-section p,
.history-section ul, .projects-section ul, .ambitions-section ul, .convictions-section ul {
    text-align: justify;
    margin: 0 15px;
}

.history-section ul, .projects-section ul, .ambitions-section ul, .convictions-section ul {
    padding-left: 20px;
}

/* Styles billets */
.ticket-section {
    background-color: rgba(146, 146, 146, 0.125);
    padding: 30px;
    max-width: 600px;
    margin: 40px auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.ticket-section h2 {
    text-align: center;
    color: #ffa500;
    margin-bottom: 20px;
}

.ticket-section form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 500px;
    margin-bottom: 15px;
}

.ticket-section label {
    flex: 1;
    margin-right: 10px;
    font-weight: bold;
    text-align: right;
}

.ticket-section input[type="text"],
.ticket-section input[type="number"],
.ticket-section input[type="email"],
.ticket-section input[type="tel"] {
    flex: 2;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.ticket-section button {
    width: 100%;
    max-width: 500px;
    padding: 15px;
    background-color: #ffa500;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.ticket-section button:hover {
    background-color: #e69500;
}

#confirmation-message {
    margin-top: 20px;
    padding: 15px;
   background-color: rgba(146, 146, 146, 0.125);
    color: #155724;
    border: 1px solid #c3e6cb;
    border-radius: 5px;
    text-align: center;
}

/* Dashboard */
.management-section {
   background-color: rgba(146, 146, 146, 0.125);
    padding: 20px;
    margin: 20px auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 800px;
}

.management-section h3 {
    text-align: center;
    color: #ffa500;
    margin-bottom: 20px;
}

.management-section .form-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

.management-section label {
    flex: 1;
    text-align: right;
    margin-right: 10px;
    font-weight: bold;
}

.management-section input[type="text"],
.management-section input[type="email"],
.management-section input[type="password"],
.management-section input[type="number"],
.management-section textarea,
.management-section select {
    flex: 2;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    background-color: #e6e6e6;
}

.management-section button {
    padding: 10px 20px;
    background-color: #ffa500;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.management-section button:hover {
    background-color: #e69500;
}

/* Gestion animaux */
.admin-section {
   background-color: rgba(146, 146, 146, 0.125);
    padding: 20px;
    margin: 20px auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 800px;
}

.admin-section h2,
.admin-section h3 {
    text-align: center;
    color: #ffa500;
    margin-bottom: 20px;
}

.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

.form-group label {
    font-weight: bold;
    margin-bottom: 5px;
}

.form-group input,
.form-group select {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.item {
   background-color: rgba(146, 146, 146, 0.125);
    padding: 15px;
    margin: 10px 0;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
}

.item p {
    margin: 5px 0;
}

.item button {
    margin: 5px;
    padding: 10px 15px;
    border: none;
    background-color: #ffa500;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.item button:hover {
    background-color: #cc8400;
}

/* Media queries */
@media (max-width: 768px) {
    h1 {
        font-size: 90px;
        letter-spacing: 15px;
    }

    button, .button, .index-button {
        font-size: 20px;
    }

    .index-body {
        background: url('/medias/mobi.jpg') no-repeat center center/cover;
    }

    .index-h1 {
        top: 10vh;
    }

    .index-button {
        top: 40vh;
    }
}
